.abt {
    width: 100%;
    /*height: 800px;*/
    background-color: var(--grey-prim);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abt img {
    width: 100%;
}

.abtContainer {
    width: 75%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.abtContainer .abtCard {
    margin: 2% 0;

}

.abtTitle {
    display: flex;
    column-gap: 2%;
}

.abtTitle .ttlImg {
    width: 40px;
    aspect-ratio: 1;
}

.abtCnt {
    width: 100%;
    overflow-x: scroll;
}

.abtCnt p {
    font-size: calc(var(--p-size) * .8);
}

.abtTable {
    width: 80%;
    margin: 2%
}

.abtTable td {
    text-align: left;
}

.abtTable ul {
    margin: 0;
    padding: 0;
}

.abtTable li {
    list-style: none;
}

@media only screen and (max-width: 768px) {
    .abtContainer {
        width: 95%;
    }
}
