
.abtCard {
    margin: 2% 0;

}

.abtTitle {
    display: flex;
    column-gap: 2%;
}

.abtTitle .ttlImg {
    width: 40px;
    aspect-ratio: 1;
}

.abtCnt {
    width: 100%;
}

.abtCnt p {
    font-size: calc(var(--p-size) * .8);
}

.abtTable {
    width: 80%;
    margin: 2%
}

.abtTable td {
    text-align: left;
}

.abtTable ul {
    margin: 0;
    padding: 0;
}

.abtTable li {
    list-style: none;
}

@media only screen and (max-width: 768px) {
    .abtCnt {
        overflow-x: scroll;
    }
}
