/* Default style */
[data-scroll="top"] {
    background-color: var(--wh-prim);
}

/* Style when scrolled past the threshold */
[data-scroll="scrolled"] {
    background-color: transparent;
}

.header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: var(--nav-width);
    display: flex;
    justify-content: center;
}

.headerContainer {
    width: 90%;
    height: 100%;
    transition: width 0.2s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[data-scroll="scrolled"] .headerContainer {
    width: 60%;
    height: 60%;
    opacity: .8;
    transition: width 0.2s ease-out;
    background-color: var(--wh-prim);
    justify-content: space-around;
}

[data-scroll="bottom"] .headerContainer {
    display: none;
}

.logo {
    height: 50%;
    display: flex;
    justify-content: center;
}


[data-scroll="scrolled"] .navbar {
    width: 95%;
}

.navbar {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.navbar ul {
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    column-gap: min(20px);
    justify-content: space-between;
}

.navbar li {
    height: 100%;
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navlink {
    /*font-size: var(--nav-size);*/
    color: var(--blk-prim);
    text-decoration: none;
}

.navlink:hover {
    color: var(--or-prim);
    transition: color 0.2s ease-in-out;
}


.navlink .navBut {
    font-size: 1rem;
    padding: .7rem 1.2rem;
}

/*.dropdown {*/
/*    display: none;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    background-color: var(--grey-sec);*/
/*    z-index: 1;*/
/*}*/


.burgerContainer {
    margin: 0 20px;
    height: 100%;
    display: none;
    justify-content: center;
}

@media only screen and (max-width: 1600px) {
    .navbar {
        width: 78%;
    }
}

@media only screen and (max-width: 1366px) {
    .navbar {
        width: 60%;
    }
}

@media only screen and (max-width: 1200px) {
    .navbar {
        display: none;
    }

    .burgerContainer {
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) {
    [data-scroll="scrolled"] {
        background-color: var(--wh-prim);
    }

    [data-scroll="scrolled"] .headerContainer {
        width: 90%;
        height: 100%;
        opacity: 1;
        justify-content: space-between;
    }

    [data-scroll="scrolled"] .navbar {
        width: 95%;
    }
}
