.landing-container {
    margin-top: 80px;
    position: relative;
}
.main-image {
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 0;
    overflow-x: hidden;
    display: flex;
    padding-bottom: 200px;
    background-color: var(--grey-prim);
}

.main-ttl-container {
    position: absolute;
    left: 30%;
    top: 35%;
}

