.introContainer {
    width: 100%;
    height: 45vw;
    background-color: var(--wh-prim);
    display: flex;
    justify-content: center;
    align-items: center;
}

.introCard {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vw;
}

.introCard h3 {
    color: var(--blu-prim);
}

.introCard h2 {
    margin-bottom: 1vw;
    text-align: center;
}

.introCard p {
    width: 85%;
    text-align: center;
}

.introCard Button {
    width: 30%;
    aspect-ratio: 5/1;
    color: var(--wh-prim);
    background-color: var(--blu-prim);
    border: none;
}

@media only screen and (max-width: 1200px) {
    .introCard button {
        aspect-ratio: 4/1;
    }
}

@media only screen and (max-width: 768px) {
    .introContainer {
        height: auto;
        margin: 10% 0;
    }

    .introCard {
        width: 70%;
    }
}
