.abtCard {
    margin: 2% 0;

}

.abtTitle {
    display: flex;
    column-gap: 2%;
}

.abtTitle .ttlImg {
    width: 40px;
    aspect-ratio: 1;
}

.abtCnt {
    width: 100%;
}

.abtCnt .abtFac {
    margin: 4% 0;
    display: flex;
    justify-content: space-around;

}

.abtCnt img {
    width: 25%;
}

.abtCnt p {
    font-size: calc(var(--p-size) * .8);
}

.abtTable {
    width: 80%;
    margin: 2%
}

.abtTable td {
    text-align: left;
}

.abtTable ul {
    margin: 0;
    padding: 0;
}

.abtTable li {
    list-style: none;
}

.effSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.effSection p {
    width: 90%;
    line-height: 2.5;
}

.effSection img {
    margin: 2%;
    width: 80%;
}

.suppSection {
    width: 80%;
    margin: 2%;
    display: flex;
}

@media only screen and (max-width: 768px) {
    .abtCnt {
        overflow-x: scroll;
    }

    .effSection img {
        width: 90%;
    }
}
