
:root {

    --blu-prim: #1E50A2;
    --yl-prim: #FAF267;
    --or-prim: #F39B26;
    --blk-prim: #232323;
    --grey-prim: #F5F6F8;
    --grey-sec: #828282;
    --grey-thr: #B6B6B6;
    --wh-prim: #FFFFFF;

    color: var(--blk-prim);
}

:root h2 {
    padding: 0;
    margin: 0;
    /*font-weight: normal;*/
    font-size: 2.4rem;
}

:root h3 {
    padding: 0;
    margin: 0;
    /*font-weight: normal;*/
    font-size: 2rem;
}

:root h4 {
    padding: 0;
    margin: 0;
    /*font-weight: normal;*/
    font-size: 1.5rem;
}

* Button {
    border-radius: 50px;
    border: 1px solid var(--blk-prim);
    background-color: var(--wh-prim);
    cursor: pointer;
}


* Button:hover {
    border: 1px solid var(--blu-prim);
    background-color: var(--blu-prim);
    opacity: .8;
    color: var(--wh-prim);
    transition: background-color 0.2s ease-out;
}

* {
    font-family: yu-gothic-pr6n, sans-serif;
    font-style: normal;
    font-weight: 300;
    /*font-weight: lighter;*/
}
