.abt {
    width: 100%;
    /*height: 800px;*/
    background-color: var(--grey-prim);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abt img {
    width: 100%;
}

.abtContainer {
    width: 75%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.abtContainer .abtCard {
    margin: 2% 0;

}

.abtTitle {
    display: flex;
    column-gap: 2%;
}

.abtTitle .ttlImg {
    width: 40px;
    aspect-ratio: 1;
}

.abtCnt {
    width: 100%;
}

.abtCnt img {
    width: 80%;
    margin: 4%;
    padding-top: 20px;
    background-color: var(--wh-prim);
    border: 2px solid var(--blk-prim);
}


@media only screen and (max-width: 768px) {
    .abtContainer {
        width: 95%;
    }
}
