.abtCard {
    margin: 2% 0;

}

.abtTitle {
    display: flex;
    column-gap: 2%;
}

.abtTitle .ttlImg {
    width: 40px;
    aspect-ratio: 1;
}

.abtCnt {
    width: 100%;
}

.abtCnt .abtFac {
    margin: 4% 0;
    display: flex;
    justify-content: space-around;
}

.abtFac img {
    width: 25%;
}

.abtCnt p {
    margin: 2%;
    line-height: 2.5;
    font-size: calc(var(--p-size) * 0.8);
}

.abtCnt ul {
    margin: 2% 0;
}

.abtCnt li {
    line-height: 2.5;
    font-size: calc(var(--p-size) * 0.8);
}


@media only screen and (max-width: 768px) {
    .abtCnt .abtFac {
        flex-direction: column;
        align-items: center;
        row-gap: 2vw;
    }
    .abtFac img {
        width: 80%;
    }
}
